.cart-background{
    width:100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table{
    width: 100%;
    max-width: 700px;

    background-color: white;
    border-radius: 10px;
    border: solid 1px;
}

td, th {
    /*border: 1px solid black;*/
}

.cart-table td, .cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
    
}

.item-img{
    width: 100px;

}

.cell-long {
    width: 700px;
}

.cart-table th:nth-child(2) {
    width: 400px;
}

.total-price{
    text-align: right;
}